{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- book section -->
<section class="book_section bg-custom layout_padding">
  <div class="container">
    <div class="bg-box">
      <img src="{% static 'pictures/forms01.jpg'%}" alt="">
    </div>
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3 text-white">Connectez-vous ici</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto text-center align-self-center">
        <div class="form_container">
          
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
              <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div>
              <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username" required />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Mot de passe" name="password" required />
            </div>
            <div class="btn_box">
              <button>Se connecter</button>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div> -->
    </div>
  </div>
</section>

<!-- end book section -->
{% endblock %}