{% extends "base.html" %}
{% block content %}
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Nos pharmacies Proche
            </h2>
        </div>

        {% for pharmacie in pharmacies %}
        <div class="filters-content">
            <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/{{ pharmacie.photo }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    {{ pharmacie.nom_phar }}
                                </h5>
                                <!-- <p>
                                    {{ pharmacie.description }}
                                </p> -->
                                <div class="options">
                                    <h6>
                                        {{ pharmacie.periode_de_garde }}
                                    </h6>
                                </div>
                                <div class="options">
                                    <h6>
                                        {{ pharmacie.localisation }}
                                    </h6>
                                </div>
                                <div class="btn-box">
                                    <a href="{% url 'pharmacie_details' id=pharmacie.id %}">
                                        Voir plus
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>
    </div>
</section>

{% endblock %}