{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                A propos de nous
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".burger">Burger</li>
            <li data-filter=".pizza">Pizza</li>
            <li data-filter=".pasta">Pasta</li>
            <li data-filter=".fries">Fries</li>
        </ul>
        {% for actualite in actualites %}
        <div class="filters-content">
            <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="{% static 'pictures/accuille.jpg' %}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Actualités
                                </h5>
                                <p>
                                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                    voluptatem repellendus
                                    sed eaque
                                </p>

                                <div class="btn-box">
                                    <a href="{% url 'actualite' %}" class="btn1">
                                        Voir Plus
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- <div class="filters-content">
            <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/{{ actualite.photo }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    {{ actualite.titre }}
                                </h5>
                                <p>
                                    {{ actualite.description }}
                                </p>
                                <div class="options">
                                    <h6>
                                        {{ actualite.date_pub }}
                                    </h6>


                                </div>
                                <div class="btn-box">
                                    <a href="{% url 'detail_actualite' id=actualite.id %}">
                                       Voir plus
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        {% endfor %}
        <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>
    </div>
</section>

{% endblock %}