{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="">

  <title> ALLAKRO </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
    crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css'%}" rel="stylesheet" />
  <link href="{% static 'css/style.css.map'%}" rel="stylesheet" />

</head>

<body>

  <header class="header_section">
    <div class="container" >
      <nav class="navbar navbar-expand-lg custom_nav-container fixed-top " >
        <a class="navbar-brand" href="{% url 'index' %}">
          <span>
            ALLAKRO
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  mx-auto ">
            <li class="nav-item active">
              <a class="nav-link" href=" {% url 'index' %}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="{% url 'actualite' %}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Actualités</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'actualite' %}">Actualités</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'affiche_naissance' %}">Naissance</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'affiche_deces' %}">Deces</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'amenagement' %}">Aménagement/Démenagement</a>
                </li>
              </ul>
            </li>

            <li class="nav-item submenu dropdown">
              <a href="{% url 'actualite' %}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Enregistrement</a>
              <ul class="dropdown-menu">
              
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'soumettre_deces' %}">Enregistrer un deces</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'soumettre_naissance' %}">Enregistrer une Naissance</a>
                </li>
              </ul>
            </li>

            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Offres/Demande d'emploi</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'demande_emplois' %}">demande emplois</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'affiche_demande' %}">Liste des demandes    </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'affiche_offre' %}">Offres d'emploi</a>

                </li>
                
              </ul>
            </li>
            
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Santé</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'centre_sante_view' %}">Centre de santé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pharmacie_views' %}">pharmacie</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'medecine_view' %}">Epidemie/Maladie</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pharmacie_de_garde_views' %}">pharmacie de garde</a>

                </li>
               
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="about.html">A propos</a>
            </li>
            
          </ul>
          
          <div class="user_option">
            <a href="{% url 'logout' %}" class="user_link">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
           
            <a href="{% url 'login' %} " class="order_online">
              Se connecter
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  
  <!-- food section -->

  <div class="mt-5">
    {% block content %}{% endblock %}
  </div>

  <!-- end food section -->

  <!-- about section -->



  <!-- end about section -->

  <!-- book section -->

  <!-- end book section -->

  <!-- client section -->



  <!-- end client section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Nous contacter
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Localisation
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  télephone : 0768140413
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  scolarite.@uvci.edu.ci
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              ALLAKRO & UVCI
            </a>
            <p>
              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
              words, combined with
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Ouvert
          </h4>
          <p>
            tous les jours
          </p>
          <p>
            10H -22H
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Tout droit reservé par
          <a href="https://html.design/">Le G-2 UVCI_PCT ="displayYear"></span> Distributed By
            <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="{% static 'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' %}" crossorigin="anonymous">
    </script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>